.card__image {
  height: 50px;
  width: 50px;
  /* margin-top: 10px; */
  box-shadow: 0 10px 50px rgb(250, 249, 249);
}
.div-card-container {
  display: grid;
  /* justify-content: center; */
  /* margin: auto; */
  padding: 20px;
  height: 200px;
  width: 200px;
}
.card-start-font {
  position: relative;
  left: 130px;
}

.card-parag {
  color: black;
}
.span-card {
  color: black;
  font-size: 13px;
}
li{
  list-style: none;
  display: inline-block;
}
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* ----Last carousel try  */
.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
body {
  background: #333;
  color: #ddd;
}
h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px #000000;
}
